workflows/n8n-workflow-3-event-reminder.json
{
  "name": "Event Reminder Email Flow (1 Day Before)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        },
        "options": {}
      },
      "id": "cron-trigger",
      "name": "Daily Reminder Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "backend-url",
              "name": "backendUrl",
              "value": "http://localhost:5000",
              "type": "string"
            },
            {
              "id": "admin-email",
              "name": "adminEmail",
              "value": "admin@example.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.backendUrl }}/api/n8n/events/upcoming/tomorrow",
        "options": {}
      },
      "id": "get-events-tomorrow",
      "name": "Get Events Tomorrow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-events",
      "name": "Split Events",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-judges",
      "name": "Split Judges",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.adminEmail }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Reminder: Judge for {{ $json.name }} Tomorrow",
        "emailType": "html",
        "message": "<html>\n<body>\n  <h2>Event Reminder - Tomorrow!</h2>\n  \n  <p>Dear {{ $json.name }},</p>\n  \n  <p>This is a friendly reminder that you are scheduled to judge <strong>{{ $json.name }}</strong> tomorrow.</p>\n  \n  <h3>Event Details:</h3>\n  <ul>\n    <li><strong>Event Name:</strong> {{ $json.name }}</li>\n    <li><strong>Date:</strong> {{ $json.date }}</li>\n    <li><strong>Location:</strong> {{ $json.location || 'To be announced' }}</li>\n  </ul>\n  \n  <p>We look forward to your participation!</p>\n  \n  <p>If you have any questions or need to make changes, please contact us at {{ $json.adminEmail }}.</p>\n  \n  <p>Best regards,<br>Event Management Team</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-reminder-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Daily Reminder Check": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Get Events Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events Tomorrow": {
      "main": [
        [
          {
            "node": "Split Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Events": {
      "main": [
        [
          {
            "node": "Split Judges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Judges": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

